/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #333;
}

h1, h2 {
    color: #add8e6; 
}


section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

    ul li {
        margin-bottom: 10px;
    }

p {
    margin-bottom: 10px;
}
{
    color: #3498db;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


.image-redimensionnee {
    max-width: 200px;
    height: 100px;
}
